<div class="col-5 col-sm-10">
    <div class="container-fluid px-0 terminal">
        <div id="header-bar" class="row mx-0">
            <div class="col-auto align-items-center pe-1">
                <img class="header-icon" src="static/cmd.png">
            </div>
            <div class="col-auto me-auto ps-0">
                <p class="mb-0">Command Prompt</p>
            </div>
            <div class="col-auto">
                <img class="window-icons" src="static/minimize.png">
            </div>
            <div class="col-auto">
                <img class="window-icons" src="static/maximize.png">
            </div>
            <div class="col-auto">
                <img class="window-icons" src="static/close.png">
            </div>
        </div>
        <div class="row window mx-0">
            <p class="terminal-output">
                C:\Users\Guest>wmic useraccount where “name like ‘Joe’” get * /format:list
            </p>
            <br>
            <br>
            <p class="terminal-output">
                C:\Users\Guest>wmic useraccount where “name like ‘Joe’” get * /format:list


                    City=Wilmington
                    Email=jhpdewitt@gmail.com
                    Field=Software Engineering
                    FullName=Joseph DeWitt
                    Name=Joe
                    State=North Carolina
                    Status=OK




                    C:\Users\Guest>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>